{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'img/logo-login.png' %}" style="width: 350px; height: auto;">

        {% if erro %}
            <p style="color: red;">{{ erro }}</p>
        {% endif %}

        <form action="{% url "login_index" %}" method="POST"> 
            {% csrf_token %}
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            <div class="form-control">
                <label for="password">Senha</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
                    <i class="bi bi-eye" id="togglePassword"></i>
                </div>
            </div>
            <button type="submit" class="btn">Acessar</button>
        </form>
    </div>

    {% block js_extra %}
        <script src="{% static "js/login.js" %}"></script>
    {% endblock js_extra %}
</body>
</html>
