{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="title">Visualizar Dados do Usuário</h2>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/delay_error.js' %}"></script>
    {% endif %}

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Email</th>
                    <th>Primeiro Nome</th>
                    <th>Sobrenome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>
                        <a href="{% url 'editar_admin' %}" title="Editar">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{% url 'dashboard' %}" class="btn btn-back">Voltar ao Dashboard</a>
</div>
{% endblock %}
