  .sidebar {
    width: 250px;
    background: #4CAF50;
    padding: 20px;
    height: 100vh; /* Faz com que ocupe toda a altura da tela */
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0; /* Garante que ocupe toda a altura */
    overflow-y: auto; /* Adiciona rolagem caso o conteúdo seja maior que a tela */
    display: flex;
    flex-direction: column;
    z-index: 1000; /* Mantém na frente */
  }

  /* Barra de rolagem personalizada para o sidebar */
  .sidebar::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
  }

  /* Parte da barra de rolagem (trilho) */
  .sidebar::-webkit-scrollbar-track {
    background-color: #4CAF50; /* Cor de fundo da trilha */
    border-radius: 0px; /* Bordas arredondadas */
  }

  /* Parte do polegar (a parte que se move) */
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Cor do polegar */
    border-radius: 0px; /* Bordas arredondadas */
  }

  /* Quando o usuário passa o mouse sobre o polegar */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #4CAF50; /* Cor do polegar ao passar o mouse */
  }
  
  .container-sidebar{
    height: 100vh;
    width: 300px;
  }
  
  /* Estilo do botão de abrir o sidebar */
  #menu-btn {
    font-size: 30px;
    background: none;
    border: none;
    color: #4CAF50;
    background-color: #f1f1f1;
    cursor: pointer;
    position: fixed; /* Fixando o botão na tela */
    top: 10px; /* Adicionando espaço do topo */
    left: 10px; /* Adicionando espaço da esquerda */
  }

  /* Caso queira um efeito de hover no botão de fechar */
  #menu-btn:hover {
    background-color: #4b48482f
  }

  
  /* Estilo para o botão de fechar */
  #close-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute; /* Fixando o botão na tela */
    top: 10px; /* Adicionando espaço do topo */
    left: 10px; /* Adicionando espaço da esquerda */
    z-index: 1200; /* Garante que o botão fique sobre o conteúdo */
  }

  /* Caso queira um efeito de hover no botão de fechar */
  #close-btn:hover {
    background-color: #4b48482f
  }

  [data-bs-theme="dark"] #menu-btn {
    background-color: #3b3b3b;
  }

  [data-bs-theme="dark"] #menu-btn:hover {
    background-color: #202020;
  }

  /* Responsividade para dispositivos pequenos */
  @media (max-width: 768px) {
    .sidebar {
      left: -250px; /* Sidebar escondido por padrão em telas pequenas */
    }
    /* Mostrar o botão de menu (seta) apenas em telas pequenas */
    .menu-btn {
      display: block;
      top: 20px; /* Adiciona espaço do topo */
      left: 20px; /* Adiciona espaço da esquerda */
    }

    .container-sidebar{
        height: 50px;
        width: 50px;
    }
  }
  
  /* Esconder o botão de menu em telas maiores */
  @media (min-width: 769px) {
    .menu-btn {
      display: none; /* Esconde o botão em telas maiores */
    }
  }

  